.swiper {
    width: 100%;
    height: 550px;
    padding: 10px;
    min-height: 100%;
  }
  .mySwiper [class^="swiper-button-"]{
    color: #d2164d;
 }
  
  .courses-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Rubik";
    align-items: center;
    

  }

  .courses-container img {
    border-radius: 50%;
    
    height: 230px;
    width: 230px;
  }

  .courses-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

   .courses-heading {
    color:#404040;
    font-size: larger;
  }

  .courses-tagline{
    font-size: small;
    color: #8a8a8a;
    margin-bottom: 4px;
    max-width: 200px;
    text-align: center;
  }  


 

 

  